.total, .colapsable, .explicacion, .contenedor-llave-expandible{
    display: inline-block;
}


.colapsable{
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;
}

input{
    background-color: transparent;
    
    width: 42;
    
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: dotted;
    
    border-left-width: 0px;
    border-left-style: dotted;
    border-left-color: black;
    
    border-right-width: 0px;
    border-top-width: 0px;
}

.texto-explicacion{
    display: none;
    font-size: 10px;
}

.texto-explicacion.explicacion-visible{
    display: block;
    position: fixed;
}

.explicacion, .texto-explicacion{
    background-color: yellow;
}

input.calculado{
    border-bottom-style: solid;
}

.evaluacion{
    border-style: solid;
    border-width: 10px;
    margin: 10px;
    padding: 10px;
}

.examenes, .trabajos, .actitud{
    border-style: solid;
    margin: 5px;
    border-width: 5px;
    padding: 5px;
}

.llave-expandible{
    display: inline;
    border-style: dashed;
    border-width: 2px;
    margin: 2px;
    padding: 2px;
    resize: vertical;
}


.oculto-por-llave{
    display: none;
}